/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
* {
  box-sizing: border-box; }

input:hover, input:focus, input:active,
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active,
button:hover,
button:focus,
button:active {
  outline: 0;
  box-shadow: none !important; }

body {
  font-family: 'Poppins', sans-serif !important;
  color: #333;
  background-color: #fff; }

p {
  margin: 0 !important; }

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }
  hr:before {
    display: table;
    content: ""; }
  hr:after {
    display: table;
    clear: both;
    content: ""; }

.browserupgrade {
  background: #f00;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.8em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .browserupgrade a {
    font-weight: bold;
    color: #ff0; }

.cf:before {
  display: table;
  content: ""; }
.cf:after {
  display: table;
  clear: both;
  content: ""; }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }

.header {
  min-height: 100px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); }

.content-area {
  padding: 50px; }

.main-continer {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.voting-wrap-main {
  flex: 1 0 18%;
  max-width: 250px;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  padding: 0;
  background: 0 0;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  background: #fff;
  visibility: visible; }
  .voting-wrap-main .survey-img {
    display: block;
    margin-top: -77.5px;
    position: relative;
    width: 100%;
    float: none;
    border: 0;
    outline: 0; }
    .voting-wrap-main .survey-img img {
      width: 130px !important;
      height: 130px !important;
      /* border: 5px solid #fff; */
      display: block;
      border-radius: 50%;
      background: none repeat scroll 0 0 #fff;
      padding: 0;
      margin: 0 auto !important;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .voting-wrap-main .survey-name {
    display: block;
    max-width: 100%;
    margin: 7px 0;
    text-align: center; }
    .voting-wrap-main .survey-name h4 {
      color: #3a3a3a;
      font-size: 22px;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      line-height: 22px; }
    .voting-wrap-main .survey-name h5 {
      color: #3a3a3a;
      font-size: 22px;
      font-size: 15px;
      font-weight: 400; }
  .voting-wrap-main .survey-action {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin: 20px 0; }
  .btn-vote {
          font-size: 19px !important;
    background: -webkit-linear-gradient(50deg, #ffd86f, #fc6262) !important;
    background: -o-linear-gradient(50deg, #ffd86f, #fc6262) !important;
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: .82rem 2.14rem;
    font-size: .81rem;
    max-width: 200px !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: .62rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: .375rem auto;
    border: 0;
    display: block !important;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle; }



.poll-div{

        flex: 0 0 15%;
        margin: 10px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
          -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
           min-height: 0px;
    height: auto;
    max-height:190px;
           
}


.poll-img{
            /*border-radius: 100%;*/
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 4px;
        margin-top: 15px;
}

.d-flex{
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-wrap{
    flex-wrap:wrap;
}

.main-wrap{
    padding:40px; 
}
.question{
        font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}


input[type="radio"] {
  /*display: none;*/
  opacity:0;
      position: absolute;
    height: 100%;
    width: 100%;
        left: 0;
    top: 0;
}

input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type="radio"]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  height: 100%;
  display: block;
  background: white;
  /*border: 2px solid #20df80;*/
  /*border-radius: 20px;*/
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}

input[type="radio"]:checked + label {
  background: #20df80;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}
input[type="radio"]:checked + label::after {
  color: #3d3f43;
  font-family: FontAwesome;
  border: 2px solid #1dc973;
  content: "\f00c";
  font-size: 24px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

input[type="radio"]#control_05:checked + label {
  background: red;
  border-color: red;
}

.label-div{
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
    -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
      -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
        padding: 0;
        position:relative;
}
.active-label{
    /*border:2px solid red;*/
        background-color: #00000066;
}

.active-label:after{
            content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: url(https://i.ya-webdesign.com/images/facebook-like-and-love-buttons-png-transparent-6.png);
    background-repeat: no-repeat;
    background-size: 60px;
    margin: auto;
    left: 0;
    right: 0;
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
   -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    width: 60px;
    height: 60px;
    
}

.card-title{
        margin-top: 15px;
        background: #0000000d;
    padding: 5px;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 0;
        width: 100%;
            word-break: break-all;
}

.confirm-head h4{
    font-weight: 400;
    font-size: 33px;
    text-align: center;
}

.confirm-head{
         display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
     -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
    -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.confirm-head span{
        height: 3px;
    width: 100px;
    background: red;
}

.confirm-div-container{
         display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
      -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
    -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
        -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.confirm-list{
    min-height:100px;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    padding: 20px 10px;
    flex: 0 0 18%;
    margin: 10px;
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
      -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
    -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    background:#fff;
        min-width: 250px;
}
.confirm-list img{
   border-radius: 100%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    padding:4px;
    border:1px solid #ccc;
}

.flex-wrap{
    -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.confirm-content{
    margin-top:15px;
         display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
     -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
    -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.text-mint{
        color: #00C4CF !important;
}
.featured-users{
        font-family: 'Abhaya Libre', serif;
    font-size: 17px;
    color: #898b8c !important;
}



.share-btn{
        font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 11px;
    color: #fff;
    background: #FA5050;
    letter-spacing: 1px;
    margin-top:15px;
        border-radius: 4px;
    padding: 6px 20px;
}

.wr-header{
    padding: 25px 0px;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: #fff;
}

.home-content-area{
        border-bottom: 2px solid #F6F6F7;
    /*padding-top: 20px;*/
    padding-bottom: 40px;
    background: #f4f4f4;
    min-height:100vh;
}

.ans-min-div{
   -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.logo-container{
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
    -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo-img{
    max-width:150px;
}


.content-area-wrap{
        padding: 20px 100px;
}
.content-area-wrap h2{
    text-align:center;
}

.content-area-wrap p{
        text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}
.l-with-fb{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
}

.login-btn{
    -moz-user-select: none;
    background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
  padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 12px Verdana, sans-serif;
}
.login-btn:hover{
    color:#fff;
    opacity:0.7;
}





@media only screen and (max-width: 1100px) {
  .voting-wrap-main .survey-img img {
    width: 120px !important;
    height: 120px !important; } }
    
    @media only screen and (max-width: 999px) {
        .poll-div{
                flex: 0 0 20%;
        }
    }
    
@media only screen and (max-width: 900px) {
  .voting-wrap-main .survey-img {
    margin-top: -58.5px; }
    .voting-wrap-main .survey-img img {
      width: 100px !important;
      height: 100px !important; }
      
    
    
   .content-area-wrap {
    padding: 20px 50px;
} 
}
@media only screen and (max-width: 738px) {
  .voting-wrap-main {
    flex: 0 0 28%; }
    .voting-wrap-main .survey-img {
      margin-top: -58.5px; }
      .voting-wrap-main .survey-img img {
        width: 100px !important;
        height: 100px !important; } 
     .poll-div{
                flex: 0 0 27%;
        }
    
    
}
        
        @media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
  .main-wrap{
      padding:20px;
  }
  .question {
       font-size: 23px;
    font-weight: 400;
    margin-bottom: 15px;
}
}
@media only screen and (max-width: 600px) {
  .content-area {
    padding: 20px; }

  .voting-wrap-main .survey-img {
    margin-top: -48.5px; }
    .voting-wrap-main .survey-img img {
      width: 80px !important;
      height: 80px !important; } 
    
    
    .poll-img{
            height: 75px;
    width: 75px;
    }
      .content-area-wrap {
    padding: 20px 20px;
}
.wr-header{
        padding: 5px 0px;
}
.logo-img {
    max-width: 100px;
}
}
@media only screen and (max-width: 500px) {
  .content-area {
    padding: 20px; }

  .voting-wrap-main {
    flex: 0 0 25%; }
    .voting-wrap-main .survey-img {
      margin-top: -38.5px; }
      .voting-wrap-main .survey-img img {
        width: 60px !important;
        height: 60px !important; } }
        
        @media only screen and (max-width: 500px) {
            .poll-div {
    flex: 0 0 26%;
}
.main-wrap {
    padding: 10px;
}
        }
        
           @media only screen and (max-width: 400px) {
               .wrapper {
                    padding: 10px 5px;
                    }
                    .confirm-list{
                             padding: 2px 5px;
                            flex: 0 0 27%;
                            margin: 5px;
                            min-width:unset;
                    }
                    .confirm-content{
                            margin-top: 5px;
                    }
                    .confirm-head h4{
                            font-size: 12px;
                    }
                    .confirm-list img{
                            height: 60px;
                            width: 60px;
                    }
                    
                    .featured-users{
                            font-size: 12px;
                            line-height: 15px;
                            word-break: break-all;
                            text-align: center;
                    }
           }

/*# sourceMappingURL=style.css.map */





