@media only screen and (max-width: 1100px) {
    .voting-wrap-main{

        .survey-img{
            img{
                width: 120px !important;
                height: 120px !important;
            }
          
        }
    }

  }

  @media only screen and (max-width: 900px) {
    .voting-wrap-main{

        .survey-img{
            margin-top: -58.5px;
            img{
                width: 100px !important;
                height: 100px !important;
            }
          
        }
    }

  }

  @media only screen and (max-width: 738px) {
    .voting-wrap-main{
        flex: 0 0 28%;
        .survey-img{
            margin-top: -58.5px;
            img{
                width: 100px !important;
                height: 100px !important;
            }
          
        }
    }

  }


  @media only screen and (max-width: 600px) {

    .content-area {
        padding: 20px;
    }
    .voting-wrap-main{
        .survey-img{
            margin-top: -48.5px;
            img{
                width: 80px !important;
                height: 80px !important;
            }
          
        }
    }

  }

  @media only screen and (max-width: 500px) {

    .content-area {
        padding: 20px;
    }
    .voting-wrap-main{
        flex: 0 0 25%;
        .survey-img{
            margin-top: -38.5px;
            img{
                width: 60px !important;
                height: 60px !important;
            }
          
        }
    }

  }