.header{
  min-height: 100px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16);
}

.content-area{
padding: 50px;
}

.main-continer{
  @include flex-wrap(wrap);
  @include justify-content(center);
}

.voting-wrap-main{
  flex: 1 0 18%;
  max-width: 250px;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  padding: 0;
  background: 0 0;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  background: #fff;
  visibility: visible;

  .survey-img{
    display: block;
    margin-top: -77.5px;
    position: relative;
    width: 100%;
    // height: 100%;
    float: none;
    border: 0;
    outline: 0;
    img{
      width: 130px!important;
    height: 130px!important;
    /* border: 5px solid #fff; */
    display: block;
    border-radius: 50%;
    background: none repeat scroll 0 0 #fff;
    padding: 0;
    margin: 0 auto!important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }
  }
  .survey-name{
    display: block;
    max-width: 100%;
    margin: 7px 0;
    text-align: center;
    h4{
      color: #3a3a3a;
      font-size: 22px;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      line-height: 22px;
    }
    h5{
      color: #3a3a3a;
      font-size: 22px;
      font-size: 15px;
      font-weight: 400;
    }
  }

  .survey-action{
    @include flexbox;
    @include justify-content(center);
    margin: 20px 0;
  }


  .btn-vote{
    background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262)!important;
    background: -o-linear-gradient(50deg,#ffd86f,#fc6262)!important;
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .82rem 2.14rem;
    font-size: .81rem;
    max-width: 200px!important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .62rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: .375rem auto;
    border: 0;
    display: block!important;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    // background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262);
    // background: -o-linear-gradient(50deg,#ffd86f,#fc6262);
    // background: linear-gradient(40deg,#ffd86f,#fc6262);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.test{
  background: red;
}