// Brand colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$blue:       #5e63d5 !default;
$gray-light: #ddd    !default;
$gray:       #767676 !default;
$gray-dark:  #333    !default;
$white:     #fff;
$blue1:     #05244d;
$select-bg:     #dde0e2;
$label-txt:     #585858;
$tab-a-bg:        #3d6cd5;
$tab-bg:        #dce2eb;

$wrapper-bg:    #F5F5F5;
$text-black:    #363636;



// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;


// Font stack
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font: Arial,Helvetica,sans-serif !default;

// The base body size
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font-size: 14px !default;


// Breakpoints
//––––––––––––––––––––––––––––––––––––––––––––––––––

$lg-320    	: "min-width: 320px";
$lg-480   	: "min-width: 480px";
$lg-768    	: "min-width: 768px";
$lg-992   	: "min-width: 992px";
$lg-1024   	: "min-width: 1024px";
$lg-1200 	: "min-width: 1200px";

$sm-479   	: "max-width: 479px";
$sm-767    	: "max-width: 767px";
$sm-991   	: "max-width: 991px";
$sm-1023   	: "max-width: 1023px";
$sm-1199 	: "max-width: 1199px";
$sm-1679 	: "max-width: 1679px";
$sm-1399 	: "max-width: 1399px";
