@charset "UTF-8";
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font: 14px/1.4 "Roboto", sans-serif;
}
input:hover, input:focus, input:active,
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active,
button:hover,
button:focus,
button:active {
  outline: 0;
}

body {
  font: 14px/1.4 "Roboto", sans-serif;
  color: #333;
  background-color: #E6E9ED;
}

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
hr:before {
  display: table;
  content: "";
}
hr:after {
  display: table;
  clear: both;
  content: "";
}

.browserupgrade {
  background: #f00;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.8em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.browserupgrade a {
  font-weight: bold;
  color: #ff0;
}

.cf:before {
  display: table;
  content: "";
}
.cf:after {
  display: table;
  clear: both;
  content: "";
}

select {
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 88%;
  background-position-y: 9px;
  padding-right: 2rem;
  padding-left: 5px;
}

iframe[name=google_conversion_frame] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: 0;
  padding: 0;
}

.mt-15 {
  margin-top: 15px;
}

.btn-default {
  margin: 0 5px;
  font-size: 10px;
  font-weight: 500;
  outline: none;
  padding: 10px 15px;
}

.btn-analyse {
  background: #C61D23;
  color: #fff;
}
.btn-analyse:hover {
  color: #fff;
  opacity: 0.9;
}

.btn-delete {
  background: #09244A;
  color: #fff;
}
.btn-delete:hover {
  color: #fff;
  opacity: 0.9;
}

.draft-btn {
  border: 1px solid #D9D9D9;
  padding: 11px 20px 11px 50px;
  position: relative;
  margin: 0 15px;
}
.draft-btn:before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  top: 0;
  border-right: 1px solid #D9D9D9;
}
.draft-btn:after {
  content: "";
  background-image: url("../images/draft.svg");
  position: absolute;
  top: 0;
  left: 12px;
  height: 15px;
  width: 11px;
  background-repeat: no-repeat;
  bottom: 0;
  margin: auto;
}

.btn-reload {
  border: 1px solid #D9D9D9;
  padding: 11px 20px 11px 50px;
  position: relative;
  margin: 0 15px;
  background: #E6E9ED;
  color: #405572;
  font-size: 14px;
  font-weight: 500;
}
.btn-reload:before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  top: 0;
  border-right: 1px solid #D9D9D9;
}
.btn-reload:after {
  content: "";
  background-image: url(../images/reload.svg);
  position: absolute;
  top: 0;
  left: 12px;
  height: 20px;
  width: 16px;
  background-repeat: no-repeat;
  bottom: 0;
  margin: auto;
}

.btn-play {
  border: 1px solid #D9D9D9;
  padding: 11px 20px 11px 50px;
  position: relative;
  margin: 0 15px;
  background: #E6E9ED;
  color: #405572;
  font-size: 14px;
  font-weight: 500;
}
.btn-play:before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  top: 0;
  border-right: 1px solid #D9D9D9;
}
.btn-play:after {
  content: "";
  background-image: url(../images/play-arrow.svg);
  position: absolute;
  top: 0;
  left: 12px;
  height: 15px;
  width: 16px;
  background-repeat: no-repeat;
  bottom: 0;
  margin: auto;
}

.btn-next {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  background: #26396B;
  color: #fff;
  outline: none;
  padding: 10px 30px;
  position: relative;
  width: 133px;
  text-align: left;
  margin: 10px;
}
.btn-next:hover {
  color: #fff;
  opacity: 0.8;
}
.btn-next:focus {
  box-shadow: none;
}
.btn-next:before, .btn-next:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.2em;
  content: " ";
  font-family: "FontAwesome", sans-serif;
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}
.btn-next:before {
  background: rgba(0, 0, 0, 0.1);
}
.btn-next:after {
  background-image: url(../images/btn-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-previous:after {
  background-image: url(../images/btn-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-180deg);
  top: -24px;
}

.btn-draft {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  background: #26396B;
  color: #fff;
  outline: none;
  padding: 10px 32px 10px 17px;
  position: relative;
  width: 163px;
  text-align: left;
  margin: 10px;
}
.btn-draft:hover {
  color: #fff;
  opacity: 0.8;
}
.btn-draft:focus {
  box-shadow: none;
}
.btn-draft:before, .btn-draft:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.2em;
  content: " ";
  font-family: "FontAwesome", sans-serif;
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}
.btn-draft:before {
  background: rgba(0, 0, 0, 0.1);
}
.btn-draft:after {
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.container-m-top {
  margin-top: -94px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-bottom: 50px;
}

.table-container {
  background: #fff;
  max-width: 1400px;
  width: 100%;
  box-shadow: 0px -3px 6px #0000001c;
  margin-bottom: 50px;
}
.table-container.mock-draft-table-container {
  max-width: 1620px !important;
}
.table-container.mock-draft-table-container .score-table-container {
  padding: 40px 75px 29px 32px;
  border-bottom: 1px solid #E4E4E4;
}
.table-container .card-header {
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.table-container .card-header .heading-container .heading {
  color: #C0171E;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 27px;
  margin-top: 10px;
}
.table-container .card-header .heading-container .s-heading {
  font-size: 16px;
  font-weight: 400;
  color: #6B6B6B;
  line-height: 21px;
}
.table-container .card-header .heading-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.table-container .card-header .heading-right .input-group {
  background: #E6E9ED;
  height: 49px;
  width: 189px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  border-radius: 5px;
}
.table-container .card-header .heading-right .input-group h4 {
  margin: 0;
  padding-left: 15px;
  color: #405572;
  font-size: 14px;
  font-weight: 400;
}
.table-container .card-header .heading-right .input-group .input-group-prepend {
  height: 100%;
  background: #40557226;
  padding: 0 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.table-container .card-body .table-view .table {
  border-collapse: separate;
  border-spacing: 0 0.4em;
}
.table-container .card-body .table-view .table thead tr {
  border-bottom: 2px solid red;
}
.table-container .card-body .table-view .table thead tr th {
  border-bottom: 2px solid red;
}
.table-container .card-body .table-view .table tbody tr {
  height: 74px;
}
.table-container .card-body .table-view .table tbody tr:nth-child(odd) {
  background: #E6E9ED;
}
.table-container .card-body .table-view .table tbody tr:nth-child(even) {
  background: #e6e9ed66;
}
.table-container .card-body .table-view .table tbody tr td {
  vertical-align: inherit;
}
.table-container .card-body .table-view .table tbody .draft h4 {
  font-size: 16px;
  font-weight: 400;
  color: #161313;
  margin: 0;
  line-height: 21px;
}
.table-container .card-body .table-view .table tbody .draft h5 {
  font-size: 14px;
  font-weight: 400;
  color: #161313;
  opacity: 0.28;
  margin: 0;
  line-height: 19px;
}

.table-pagination-container .pagination-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
.table-pagination-container .pagination-list .pagination-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.table-pagination-container .pagination-list .pagination-item button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border: 1px solid #787878;
  height: 22px;
  width: 22px;
  margin: 3px;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}
.table-pagination-container .pagination-list .pagination-item button.p-count {
  border: 2px solid #CECECE;
  color: #CECECE;
}
.table-pagination-container .pagination-list .pagination-item button.p-count.select {
  border: 1px solid #C1171E;
}
.table-pagination-container .pagination-list .pagination-item button.next img {
  transform: rotate(180deg);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.7em;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 21px;
}

h3, .h3 {
  font-size: 16px;
}

h4, .h4 {
  font-size: 14px;
}

h5, .h5 {
  font-size: 12px;
}

h6, .h6 {
  font-size: 11px;
}

a {
  color: #4078c0;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  outline: 0;
}
a:focus {
  text-decoration: none;
}

a[href^=tel] {
  cursor: default;
}

p {
  margin: 0 0 0.7em;
}

small {
  font-size: 90%;
}

blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

tt,
code {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px "Roboto", sans-serif;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  font-size: 13px;
  font-weight: bold;
  outline: none;
}
label:focus {
  outline: none;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=url] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  height: 38px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  display: block;
  width: 100%;
  transition: all ease 0.1s;
}
.form-control.focus, .form-control:focus {
  border-color: #4078c0;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
}

textarea {
  resize: none;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
  margin-right: 0.35em;
}

input.input-contrast,
.input-contrast {
  background-color: #fafafa;
}
input.input-contrast:focus,
.input-contrast:focus {
  background-color: #fff;
}

::placeholder {
  color: #aaa;
}

button:focus, button.focus, input[type=submit]:focus, input[type=submit].focus {
  outline: 0;
}

.form-box input:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important;
}
.form-box input::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important;
}
.form-box ::-webkit-input-placeholder {
  color: #333 !important;
  opacity: 1 !important;
  /* for chrome */
}
.form-box textarea:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important;
}
.form-box textarea::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important;
}
.form-box ::-webkit-input-placeholder {
  opacity: 1 !important;
  /* for chrome */
  color: #333 !important;
}

table {
  border-collapse: collapse;
  margin: 0.7em 0;
  width: 100%;
}

th {
  border-bottom: 2px solid #ddd;
  font-weight: 600;
  padding: 0.7em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.7em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

.login-section {
  background-color: #c0171e;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Numans", sans-serif;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.login-section:before {
  content: "";
  background-image: url("../images/login-bk1.svg");
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-size: cover;
}
.login-section .card {
  margin-top: auto;
  margin-bottom: auto;
  width: 423px;
  background-color: transparent;
  border: none;
}
.login-section .card .card-header {
  background: transparent;
  border: none;
}
.login-section .card .card-body {
  padding: 1.25rem 0;
}
.login-section .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}
.login-section .social_icon span:hover {
  color: #fff;
  cursor: pointer;
}
.login-section .card-header h3 {
  color: #fff;
}
.login-section .input-group-prepend span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  background: #0000001f 0% 0% no-repeat padding-box;
  color: black;
  border: 0 !important;
}
.login-section .input-group-prepend span img {
  width: 14px;
}
.login-section .input-group-prepend:after {
  content: "";
  border-right: 1px solid #ffffff17;
  margin: 5px 0px;
}
.login-section input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.login-section .remember {
  color: #fff;
}
.login-section .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}
.login-section .login_btn {
  color: #fff;
  background-color: #000000;
  width: 100%;
  height: 70px;
  letter-spacing: 2.53px;
}
.login-section .login_btn:hover {
  opacity: 0.8;
}
.login-section .links {
  color: #FF9A9E;
  letter-spacing: 0.53px;
  text-align: center;
}
.login-section .links a {
  margin-left: 4px;
  color: #fff;
  text-decoration: underline;
}
.login-section .form-control {
  height: 70px;
  background: #0000001f 0% 0% no-repeat padding-box;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 30px;
}
.login-section .form-control::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}
.login-section .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.login-section .form-control::placeholder {
  color: #fff;
}
.login-section .password-info {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  color: #FF9A9E;
  opacity: 1;
  font-weight: 400;
}
.login-section .forget-password-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.56px;
}
.login-section .forget-password-link span {
  color: #FF9A9E !important;
}
.login-section .card-footer {
  border: 1px solid #ffffff14;
  background: transparent;
  padding: 0.75rem 5px;
  font-size: 14px;
}
.login-section .login-bk-img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.draft-section {
  position: relative;
  min-height: 100vh;
}
.draft-section .web-bg {
  position: absolute;
  right: 20%;
}
.draft-section .top-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  height: 200px;
  background: #C0171E;
  padding: 15px 25px;
}
.draft-section .top-container .logo {
  width: 290px;
}
.draft-section .top-container .action {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 0;
  padding: 24px;
}
.draft-section .top-container .action .home-icon {
  margin-right: 24px;
}
.draft-section .top-container .action .home-icon span {
  background: #0000001f;
  height: 34px;
  width: 34px;
  border-radius: 119px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.draft-section .top-container .action .form-group .form-control {
  height: 34px;
  width: 125px;
  background: #0000001f;
  border: none;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: 89%;
  background-position-y: 10px;
}
.draft-section .draft-table-container {
  padding: 0 100px;
}
.draft-section .draft-table-container table {
  min-width: 1000px;
}
.draft-section .table-container .table-view .table thead tr th:first-child {
  width: 260px;
}
.draft-section .table-container .table-view .table thead tr th:nth-child(4) {
  width: 130px;
}
.draft-section .table-container .table-view .table thead tr th:nth-child(5) {
  width: 70px;
}

.teams-page .table-container .heading-right .b-draft {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px;
}
.teams-page .table-container .heading-right .b-draft .d-text {
  border: 1px solid #C3E8D2;
  width: 55px;
  height: 49px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 11px;
}
.teams-page .table-container .heading-right .b-draft .d-text h5 {
  margin: 0;
  color: #58D489;
  font-size: 22px;
  font-weight: 500;
}
.teams-page .table-container .heading-right .b-draft .d-content h4 {
  margin: 0;
  line-height: 23px;
  font-size: 19px;
  color: #4E4E4E;
}
.teams-page .table-container .heading-right .b-draft .d-content h5 {
  margin: 0;
  line-height: 22px;
  font-size: 18px;
  color: #818181;
}
.teams-page .table-container .card-header {
  padding: 0 34px;
}
.teams-page .table-container .card-header .heading-container {
  padding: 1rem 1rem 1rem 0;
}
.teams-page .table-container .card-header .heading-container h4 {
  margin: 0;
}
.teams-page .table-container .card-header .heading-container h5 {
  margin: 0;
}
.teams-page .table-container .card-header .heading-right {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.teams-page .table-container .card-header .heading-right .separator {
  padding: 1.4rem;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
.teams-page .table-container .card-header .heading-right .input-group {
  margin-left: 20px;
}
.teams-page .table-container .card-body {
  padding: 0;
}
.teams-page .table-container .card-body .tram-graph-container {
  padding: 0 100px;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 50px;
  min-height: 100px;
}
.teams-page .table-container .card-body .mock-draft-container {
  padding: 0 100px;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 50px;
  padding-top: 50px;
}
.teams-page .table-container .card-body .mock-draft-container .graph-view {
  margin: 10px 50px;
}
.teams-page .table-container .card-body .mock-draft-container .graph-view .head h4 {
  color: #303030;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
.teams-page .table-container .card-body .table-view .table thead tr th:first-child {
  width: auto;
}
.teams-page .table-container .card-body .table-view .table tbody h4, .teams-page .table-container .card-body .table-view .table tbody h5 {
  margin: 0;
}
.teams-page .table-container .card-body .table-view .table tbody tr {
  height: 54px;
}

.score-table-container {
  padding: 10px 66px;
}
.score-table-container h2 {
  margin: 58px 0 30px 42px;
  font-size: 22px;
  font-weight: 600;
}
.score-table-container .score-table table {
  min-width: 1200px;
}
.score-table-container .score-table table thead .head-label, .score-table-container .score-table table tfoot .head-label {
  border: 1px solid #70707047;
  font-size: 11px;
  width: 87px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  margin: 0;
}
.score-table-container .score-table table thead tr td, .score-table-container .score-table table tfoot tr td {
  padding: 5px;
}
.score-table-container .score-table table thead tr td:first-child, .score-table-container .score-table table tfoot tr td:first-child {
  width: 41px;
}
.score-table-container .score-table table tbody tr td {
  padding: 5px;
}
.score-table-container .score-table table tbody tr td:first-child {
  padding-left: 0;
  padding-right: 0;
}
.score-table-container .score-table table tbody tr td .row-label {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  border: 1px solid #70707047;
  border-radius: 5px;
  height: 85px;
  width: 39px;
}
.score-table-container .score-table table tbody tr td .row-label .label-text {
  color: #474545;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  transform: rotate(-90deg);
}
.score-table-container .score-table table tbody tr td .row-label .label-arrow {
  background: #DCDCDC;
  height: 14px;
  width: 14px;
  border-radius: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.score-table-container .score-table table .score-box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 17px;
  height: 85px;
  width: 87px;
  border-radius: 5px;
}
.score-table-container .score-table table .score-box .score-range {
  position: absolute;
  top: 5px;
  right: 6px;
  background: #FFF;
  border-radius: 100px;
  height: 19px;
  width: 19px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #474545;
  font-weight: 500;
}
.score-table-container .score-table table .score-box .name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  padding-top: 15px;
}
.score-table-container .score-table table .score-box .team-name {
  margin: 0;
  font-size: 10px;
  color: #24242452;
  font-weight: 500;
  margin-top: 9px;
}
.score-table-container .score-table table .score-box.score-box-TE {
  background: #D1E8DA;
}
.score-table-container .score-table table .score-box.score-box-RB {
  background: #F5F0DF;
}
.score-table-container .score-table table .score-box.score-box-PK {
  background: #C4E3EB;
}
.score-table-container .score-table table .score-box.score-box-DEF {
  background: #A2E6F2;
}
.score-table-container .score-table table .score-box.score-box-QB {
  background: #F5E8EC;
}
.score-table-container .score-table table .score-box.score-box-WR {
  background: #E9E9E7;
}

.teams-draft .table-container .card-header {
  padding: 24px;
}
.teams-draft .table-container .card-header .heading-container h4 {
  margin: 0;
  padding-left: 17px;
}
.teams-draft .table-container .card-body {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.teams-draft .table-container .card-body .left-container {
  flex: 1 0 300px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container {
  background: #c4d1d617;
  min-height: 50px;
  padding: 6px 13px 13px 13px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .head {
  border-bottom: 1px solid #70707026;
  padding: 4px 7px 10px 0px;
  margin-bottom: 15px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .head h3 {
  margin: 0;
  color: #505050;
  font-size: 17px;
  padding-left: 20px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .position-tracker-list {
  height: 250px;
  overflow: auto;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .position-tracker-list .tracker-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .position-tracker-list .tracker-list .tracker-list-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  padding: 0 10px;
  background: #E6E9ED;
  flex: 1 1 50%;
  min-height: 40px;
  margin: 3px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .position-tracker-list .tracker-list .tracker-list-item h4 {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .position-tracker-list .tracker-list .tracker-list-item label {
  margin: 0;
  width: 41px;
  text-align: center;
  background: #fff;
  padding: 6px;
  border-radius: 15px;
  font-size: 9px;
  font-weight: 400;
  box-shadow: 0px -1px 4px #0000001c;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .position-tracker-list::-webkit-scrollbar {
  width: 3px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .position-tracker-list::-webkit-scrollbar-track {
  background: #ddd;
}
.teams-draft .table-container .card-body .left-container .left-container-content .track-container .position-tracker-list::-webkit-scrollbar-thumb {
  background: #D9282F;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list {
  background: #c4d1d617;
  min-height: 50px;
  padding: 13px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .head-top {
  color: #505050;
  font-size: 14px;
  font-weight: 500;
  padding-left: 17px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list h4 {
  color: #505050;
  font-size: 14px;
  font-weight: 500;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list {
  height: 250px;
  overflow: auto;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list .draft-log-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  height: 38px;
  padding: 0 10px;
  margin: 5px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list .draft-log-item:nth-child(odd) {
  background: #E6E9ED;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list .draft-log-item:nth-child(even) {
  background: #E7ECF5;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list .draft-log-item .count {
  margin: 0;
  background: #40557229;
  height: 27px;
  width: 27px;
  border-radius: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 9px;
  font-weight: 400;
  margin-right: 10px;
  padding: 8px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list .draft-log-item .name {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list .draft-log-item .team-name {
  margin: 0;
  width: 38px;
  text-align: center;
  margin-left: auto;
  background: #fff;
  padding: 6px;
  border-radius: 15px;
  font-size: 9px;
  font-weight: 400;
  box-shadow: 0px -1px 4px #0000001c;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list::-webkit-scrollbar {
  width: 3px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list::-webkit-scrollbar-track {
  background: #ddd;
}
.teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .draft-log-list::-webkit-scrollbar-thumb {
  background: #D9282F;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section {
  background: #c4d1d617;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list {
  background: #c4d1d617;
  min-height: 50px;
  padding: 13px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .head {
  font-size: 15px;
  font-weight: 500;
  padding-left: 17px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .head .previous {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background: #fff;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .head .previous:hover {
  opacity: 0.9;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .head .next {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background: #fff;
  margin-left: auto;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .head h3 {
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #505050;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .team-list-container {
  height: 250px;
  overflow: auto;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .team-list-container .team-section-list-item {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-radius: 4px;
  border-bottom: 1px solid #e4e4e4;
  height: 38px;
  padding: 0 10px;
  margin: 3px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .team-list-container .team-section-list-item .team {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  margin-right: 17px;
  margin-left: 5px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .team-list-container .team-section-list-item .name {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .team-list-container .team-section-list-item .score {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  margin-left: auto;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .team-list-container::-webkit-scrollbar {
  width: 3px;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .team-list-container::-webkit-scrollbar-track {
  background: #ddd;
}
.teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .team-list-container::-webkit-scrollbar-thumb {
  background: #D9282F;
}
.teams-draft .table-container .card-body .right-container {
  min-height: 100px;
  flex: 1 1 100%;
  width: calc(100% - 300px);
}
.teams-draft .table-container .card-body .right-container .overall-container {
  padding: 11px 28px 50px 78px;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar {
  min-height: 58px;
  background: #F8F9FA;
  margin-bottom: 28px;
  padding: 0 19px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .header-text h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 40px;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .form-group {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  color: #505050;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .form-group select {
  height: 27px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 500;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group {
  margin-left: 20px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group .c-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group .c-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group .c-checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #CCCCCC;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group .c-container input:checked ~ .c-checkmark {
  background-color: #fff;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group .c-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group .c-container input:checked ~ .c-checkmark:after {
  display: block;
}
.teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group .c-container .c-checkmark:after {
  left: 9px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid #6CCEC0;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-head .head-table {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  border-bottom: 3px solid #D9282F;
  margin-bottom: 18px;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-head .head-table .t-head {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-head .head-table .team-name {
  font-size: 11px;
  font-weight: 500;
  line-height: 22px;
  color: #D9282F;
  box-shadow: 0px -1px 4px #0000001c;
  text-align: center;
  border-radius: 10px;
  width: 49px;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  height: 48px;
  padding: 0 10px;
  margin: 3px;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .count {
  margin: 0;
  background: #40557229;
  height: 28px;
  width: 28px;
  border-radius: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
  margin-right: 10px;
  padding: 8px;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .name {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .team-name {
  margin: 0;
  text-align: center;
  margin-left: auto;
  background: #fff;
  padding: 6px 14px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 400;
  box-shadow: 0px -1px 4px #0000001c;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item:nth-child(even) {
  background: #F6F7F9;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item:nth-child(odd) {
  background: #E6E9ED;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .show-more {
  text-align: right;
}
.teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .show-more a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

.config-page {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.config-page .card-body {
  min-height: 600px;
}
.config-page .configuration-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.config-page .configuration-wrap .config-container {
  background: #E6E9ED;
  max-width: 710px;
  min-height: 200px;
  margin-top: 60px;
}
.config-page .configuration-wrap .config-container .config-head {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
  border-bottom: 1px solid #7070702b;
  padding: 10px 50px;
}
.config-page .configuration-wrap .config-container .config-head h3 {
  font-size: 20px;
  font-weight: 500;
  color: #4B4B4B;
  margin: 0;
  position: relative;
  padding-right: 20px;
}
.config-page .configuration-wrap .config-container .config-head h3:after {
  content: "";
  border-bottom: 3px solid #D9282F;
  display: block;
  position: absolute;
  bottom: -22px;
  width: 100%;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 50px;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container h4 {
  font-size: 15px;
  font-weight: 400;
  color: #4B4B4B;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .r-group-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .r-group-list .r-group-item {
  padding: 7px 30px 7px 12px;
  border-right: 1px solid #7070702b;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #E2E2E2;
  background: #fff;
  box-shadow: 0px 2px 5px #0000001c;
  flex: 1 1 auto;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .select-team {
  margin-right: 20px;
  margin-left: 30px;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .select-team .form-group {
  margin: 0;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .select-team .form-group select {
  width: 100px;
  height: 35px;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 2px 5px #0000001c;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .roster-position {
  margin: 0 10px;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .draft-position {
  margin-right: 10px;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .draft-position .form-group {
  margin: 0;
}
.config-page .configuration-wrap .config-container .config-body .config-form-container .draft-position .form-group select {
  width: 100px;
  height: 35px;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 2px 5px #0000001c;
}
.config-page .configuration-wrap .config-container .config-footer {
  padding: 10px;
  min-height: 40px;
  border-top: 1px solid #7070702b;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.config-page .r-container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  color: #6B6B6B;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
  line-height: 19px;
}
.config-page .r-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.config-page .r-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
}
.config-page .r-container input:checked ~ .r-checkmark {
  background-color: #fff;
}
.config-page .r-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.config-page .r-container input:checked ~ .r-checkmark:after {
  display: block;
}
.config-page .r-container .r-checkmark:after {
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C0171E;
  right: 0;
  bottom: 0;
  margin: auto;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #CECECE;
  height: 70px;
}
.footer span {
  color: #16131378;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 1450px) {
  .teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .count {
    height: 25px;
    width: 25px;
    font-size: 10px;
    margin-right: 5px;
  }
  .teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .name {
    font-size: 12px;
  }
  .teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .team-name {
    padding: 6px 5px;
    font-size: 10px;
  }
}
@media (max-width: 1300px) {
  .login-section .form-control {
    height: 50px;
  }
  .login-section .login_btn {
    height: 50px;
    font-size: 14px;
  }
  .login-section .card-footer {
    font-size: 12px;
  }
  .login-section .forget-password-link {
    font-size: 12px;
  }

  .teams-page .table-container .heading-container .heading {
    font-size: 17px;
    line-height: 20px;
  }
  .teams-page .table-container .heading-container .s-heading {
    font-size: 13px;
    line-height: 18px;
  }
  .teams-page .table-container .heading-right .b-draft .d-text {
    width: 40px;
    height: 40px;
  }
  .teams-page .table-container .heading-right .b-draft .d-text h5 {
    font-size: 20px;
  }
  .teams-page .table-container .heading-right .b-draft .d-content h4 {
    line-height: 20px;
    font-size: 16px;
  }
  .teams-page .table-container .heading-right .b-draft .d-content h5 {
    line-height: 22px;
    font-size: 18px;
  }

  .teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .count {
    height: 25px;
    width: 25px;
    font-size: 10px;
    margin-right: 5px;
  }
  .teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .name {
    font-size: 11px;
  }
  .teams-draft .table-container .card-body .right-container .overall-container .overall-list .table-list .list-content .draft-log-item .team-name {
    padding: 6px 7px;
    font-size: 8px;
  }

  .footer {
    height: 50px;
  }

  .config-page .configuration-wrap .config-container .config-head {
    min-height: 60px;
  }
  .config-page .configuration-wrap .config-container .config-head h3 {
    font-size: 16px;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container {
    padding: 45px;
  }

  .table-container .card-body .table-view .table tbody .draft h4 {
    font-size: 14px;
  }

  .table-container .card-body .table-view .table tbody .draft h5 {
    font-size: 13px;
  }

  .draft-table-container .table-view .table tbody tr {
    height: 65px !important;
  }

  .teams-page .table-container .card-body .table-view .table tbody tr {
    height: 45px;
  }
}
@media (max-width: 1199px) {
  .teams-draft .table-container .card-body {
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    flex-wrap: wrap;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .track-container {
    flex: 1 1 33.3%;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .draft-log {
    flex: 1 1 33.3%;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .draft-log .d-log-list .head-top {
    border-bottom: 1px solid #70707026;
    padding: 4px 7px 7px 0px;
    margin-bottom: 13px;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .teams-section {
    flex: 1 1 33.3%;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list {
    background: transparent;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .head {
    border-bottom: 1px solid #70707026;
    padding: 4px 7px 5px 0px;
    margin-bottom: 3px;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .teams-section .team-section-list .head h3 {
    margin: 0;
  }
  .teams-draft .table-container .card-body .right-container {
    width: auto;
  }
  .teams-draft .table-container .card-body .right-container .overall-container {
    padding: 11px 28px 50px 28px;
  }
}
@media (max-width: 991px) {
  .draft-section .draft-table-container {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .login-section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .login-section .card-body .form-control {
    height: 50px;
  }
  .login-section .card-body .login_btn {
    height: 50px;
  }
  .login-section .card-footer .links {
    font-size: 12px;
  }

  .draft-section .top-container .logo {
    width: 145px;
  }
  .draft-section .top-container .action .home-icon {
    margin-right: 14px;
  }
  .draft-section .top-container .action .form-group .form-control {
    width: 105px;
  }
  .draft-section .container-m-top .card-header .heading-container .heading {
    font-size: 17px;
  }
  .draft-section .container-m-top .card-header .heading-container .s-heading {
    font-size: 14px;
  }

  .teams-page .table-container .card-body .mock-draft-container {
    padding: 0 50px;
  }
  .teams-page .table-container .card-body .score-table-container {
    padding: 10px 50px;
  }
  .teams-page .table-container .card-header {
    flex-flow: column;
  }
  .teams-page .table-container .card-header .heading-right {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  .teams-page .table-container .card-header .heading-right .separator {
    padding: 5px 0;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    border-left: none;
    border-right: none;
  }
  .teams-page .table-container .card-header .heading-right .separator .b-draft {
    margin-bottom: 10px;
  }
  .teams-page .table-container .card-header .heading-right .btn-reload-container {
    padding: 5px 0 10px 0;
  }

  .config-page .configuration-wrap .config-container {
    margin-top: 10px;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .roster-position {
    width: 45%;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .roster-position .form-group select {
    width: 100%;
    background-position-x: 96%;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap .s-group {
    width: 100%;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap .s-group .r-group-list {
    width: 100%;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap .s-group .r-group-list .r-group-item:nth-child(3) {
    border-right: none;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap .d-flex {
    width: 100%;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap .d-flex .draft-position {
    margin: 20px 0px 0 10px;
    width: 100%;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap .d-flex .draft-position .form-group select {
    width: 100%;
    background-position-x: 96%;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap .d-flex .select-team {
    margin: 20px 10px 0 0px;
    width: 100%;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .scoring-wrap .d-flex .select-team .form-group select {
    width: 100%;
    background-position-x: 96%;
  }
}
@media (max-width: 675px) {
  .config-page .configuration-wrap .config-container .config-body .config-form-container .roster-position {
    margin: 0;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .select-team {
    margin: 10px 5px 0 5px;
  }
  .config-page .configuration-wrap .config-container .config-body .config-form-container .draft-position {
    margin: 10px 5px 0 5px;
  }
}
@media (max-width: 527px) {
  .teams-draft .container-m-top .table-container .card-body .right-container .overall-container .header-bar {
    padding: 10px;
  }
  .teams-draft .container-m-top .table-container .card-body .right-container .overall-container .header-bar .header-text {
    margin-bottom: 10px;
  }
}
@media (max-width: 479px) {
  .table-container .card-header {
    display: block;
    text-align: center;
  }
  .table-container .card-header .heading-right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }

  .btn-reload {
    margin: 10px;
  }

  .btn-play {
    margin: 10px;
  }

  .teams-page .table-container .card-body .mock-draft-container {
    padding: 0 25px;
  }
  .teams-page .table-container .card-body .score-table-container {
    padding: 10px 25px;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .track-container {
    flex: 1 1 100%;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .draft-log {
    flex: 1 1 100%;
  }
  .teams-draft .table-container .card-body .left-container .left-container-content .teams-section {
    flex: 1 1 100%;
  }

  .teams-draft .table-container .card-body .right-container .overall-container .header-bar .head-option .checkbox-group .c-container {
    font-size: 14px;
  }

  .config-page .configuration-wrap .config-container .config-body .config-form-container {
    padding: 45px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
